<div><br>
    <form class="callMethod" id="call_<%= name + "_" + method.name %>" action="/callMethod" method="post">
        <% if (method.inputs.find(param => 'components' in param)) { %>
            <%- include('methodModal', {cname: name, mname: method.name, method: method, format: format}); %>
        <% } else { %>
            <input type="submit" class="inputBtns" value="<%=format(method.name)%>" onclick="console.log('clicked button');">
            <% method.inputs.forEach(param => { %>
                <input type="text" placeholder="<%=format(param.name)%>" id="<%= name+"_"+method.name + "_" + param.name %>" name="<%= name+"_"+method.name + "_" + param.name %>">
            <% }); %>
        <% } %>
    </form>
    <div id="<%=name + "_" + method.name + "_out"%>"> </div>
</div>